
.sidebar-cms {
  position: sticky;
  top: var(--header-height, 4rem); 
  width: $sidebar-width;
  background: var(--primary-color);
  border-radius: $border-radius;
  @include box-shadow;
  @include transition(width);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  max-height: 70vh;
  
  overflow: auto;
  /* Para Firefox */
  scrollbar-width: none;
  /* Para Internet Explorer 10+ */
  -ms-overflow-style: none;
  
  /* Para Chrome, Safari e Opera */
  .sidebar-cms::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 768px) {
    position: fixed;
    top: revert;
    bottom: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom:0;
    .flex-column{
      flex-direction: row !important;
    }
    .toggle-btn{
      display: none;
    }
  }

  &.minimized {
    width: $sidebar-minimized-width;
    min-width: $sidebar-minimized-width;
    @media (max-width: 768px) {
      width: 92%; 
      height: auto;
      flex-direction: row;
      justify-content: center;
      padding: 0;
      z-index: 1030
    }

    .brand-name {
      display: none;
    }

    .nav-link {
      justify-content: center;
      text-align: center;
    }
   
    .side-icon {
      margin-right: 0;
    }
    .toggle-btn{
      padding: 0;
    }
  }
  
  .brand {
    border-bottom: 1px solid rgba(var(--light-color), 0.1);
    padding: 1rem;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      border-bottom: none;
      margin-bottom: 0;
      padding: 0;
      .brand-icon{
        display: none;
      }
    }

    .brand-name {
      color: var(--light-color);
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
    }
    
  }

  .nav-link {
    color: var(--light-color);
    padding: 0.75rem 1rem;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    @include transition(background-color);
   
    @media (max-width: 768px) {
      margin: 0;
      padding: 0.5rem;
      flex-direction: row;
    }

    &:hover {
      background-color: var(--accent-color);
    }

    .side-icon {
      margin-right: 1rem;
      font-size: 1.2rem;

      @media (max-width: 768px) {
        margin-right: 0.5rem;
      }
    }
  }
  
  .active {
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
  }
  
}

.toggle-btn {
  background: transparent;
  color: var(--light-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: $border-radius;
  @include transition(color);

  &:hover {
    color: var(--accent-color);
  }
}
