.cms-table-container {
    box-shadow: $box-shadow;
    transition: $transition-speed;
    border-radius: $border-radius;
    height: 60vh; /* Definir uma altura para evitar cortes */
    background-color: var(--secondary-color);
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto; 
}



.cms-table {
    width: 100%;
    border-collapse: collapse;
}

.cms-table thead {
    position: sticky;
    top: 0;
    background-color: var(--dark-color);
    color: var(--text-light-color);
    z-index: 100; /* Eleva a prioridade do cabeçalho */
}


.cms-table th, 
.cms-table td {
    text-align: left;
    border-bottom: 1px solid var(--primary-color);
}

.cms-table tbody {
    color: var(--primary-color);
}

.cms-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
}

.cms-table tbody tr:nth-child(even) {
    background-color: var(--light-background);
}



@media (max-width: 768px) {
    .cms-table-container {
        padding: 0.5rem;
        height: 55vh;
    }

    .cms-table th, 
    .cms-table td {
        padding: 0.5rem;
    }
}
